@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins&family=Roboto+Slab:wght@100..900&display=swap');

:root {
  --primary: #e5c8a4;
  --secondary: cornsilk;
  --dark: #333;
}

* {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.55;
}

body {
  background-color: #fffffe;
  color: var(--dark);
}

.heading {
  font-family: 'DM Serif Display', serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
}

.row {
  display: flex;
  gap: 1.5rem;
}
.row > * {
  flex: 1;
  width: 50%;
  padding: 1rem;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .row > * {
    width: 100%;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: black;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #c0a080;
}

.btn-secondary {
  background-color: var(--dark);
  color: white;
  padding: 0.5rem 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s;
}
.btn-secondary:hover {
  background-color: #444;
}

header {
  background-color: var(--primary);
  padding: 1rem 5rem;
  color: #25211a;
}

header h1 {
  text-align: center;
  font-size: 3rem;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding-top: 12px;
}

header a {
  text-decoration: none;
  color: inherit;
  font-size: 1.2rem;
}

main {
  padding: 8rem 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('hero.jpeg');
}

main h2 {
  font-size: 3rem;
}

main p {
  max-width: 900px;
  font-weight: 300;
  line-height: 2;
  font-size: 1.2rem;
}

.text-section {
  padding: 2.5rem 2rem;
}

.text-section > div > .heading {
  font-size: 2.4rem;
  margin: 1.2rem 0;
  padding-top: 2.4rem;
}

section.text-section > img {
  border-radius: 2rem;
  overflow: hidden;
}

.dark-section {
  background-color: var(--dark);
  color: white;
  padding: 6rem 0;
}

.explore-section .heading {
  font-size: 4rem;
}
.explore-section p {
  margin-bottom: 1.8rem;
}

footer.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 4rem 2rem;
}

footer h4 {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 720px;
  padding: 4rem 1rem;
  text-align: center;
}

.menu-container > * {
  width: fit-content;
}

.menu-container h2 {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
}

.menu-container table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}
table th {
  background-color: var(--primary);
  color: black;
  font-weight: 500;
}

table td, th {
  border: 1px solid black;
  padding: 0.3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  max-width: 720px;
  padding: 4rem 1rem;
  text-align: center;
}

.contact-container h2 {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
}

form > * {
  width: 100%;
  display: block;
}

form input, form textarea {
  padding: 0.5rem;
  font-size: 1rem;
}

form label {
  text-align: left;
}

form button[type="submit"] {
  background-color: var(--primary);
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  transition: background-color 0.3s;
}

form input[type="submit"]:hover {
  background-color: #c0a080;
}

form textarea {
  resize: vertical;
}

